{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tria - Belajar Tarian Tradisional Indonesia{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://i.ibb.co.com/fY9F3RwF/tria.png" />
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co.com/fY9F3RwF/tria.png" />
    {% block meta %} {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/toast.css' %}"/>

  </head>
  <body>
    {% include 'partials/navbar.html' %}
    {% block content %}

    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>